---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Live Speech">
  <div class="container mt-5">
    <p>Welcome to Live Speech frontend...</p>
    <p>
      For more information, check out the{
        " "
      }https://github.com/dtinth/live-speech
    </p>
  </div>
</Layout>
