---
import { TranscriptViewer } from "../components/TranscriptViewer";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Transcript Viewer - Live Speech">
  <div class="container mt-5">
    <TranscriptViewer client:only="react" />
  </div>
</Layout>
